<%= error_messages_for('structure') %>

<p><label for="structure_name"><%= h _('structure name') %></label><br />
<%= text_field('structure', 'name') %></p>

<p><label for="structure_memo"><%= h _('memo') %></label><br />
<%= text_field('structure', 'memo') %></p>