<%= error_messages_for('particularcat') %>

<p><label for="particularcat_name"><%= h _('particularcat name') %></label><br />
<%= text_field('particularcat', 'name') %></p>
<p><label for="particularcat_memo"><%= h _('memo') %></label><br />
<%= text_field('particularcat', 'memo') %></p>