<h1><%= h _('new facilitycat input') %></h1>
<hr />
<% form_tag(:action => 'create_facilitycat') do %>
  <%= render(:partial => 'form_facilitycat') %>
  <%= submit_tag( _('regist'))%>
<% end %>

<%= link_to( _('back'), :action => 'list_facilitycat') %>
