<h1><%= h _('new facility input') %></h1>
<hr />
<% form_tag(:action => 'create_facility') do %>
  <%= render(:partial => 'form_facility') %>
  <%= submit_tag( _('regist'))%>
<% end %>

<%= link_to( _('back'), :action => 'list_facility') %>
