<div class="studentlistpage">
  <br/>
<%= render :partial => 'search' %>

<%= render :partial => 'link_list_grade' %>

<h1><%=h _('Listing students') %></h1>

<%= render :partial => 'list_students' %>

<br />

<!-- <%= link_to _('New student'), :action => 'new' %> -->
<br /><br />

</div>