Web名刺フォルダー地図情報送信サービス

事業所名： <%= @spot.name %>
http://kokomail.mapfan.com/receivew.cgi?MAP=E<%= @spot.longitude_tokyo_datum_ddmmsss %>N<%= @spot.latitude_tokyo_datum_ddmmsss %>&ZM=12&CI=R


この情報は、Web名刺フォルダーから、地図を送るコマンドにより送信されたものです。
心当たりのない方は、下記へご連絡く下さい。
Web名刺フォルダーサイト
mailto:info@spa.fsr.jp
http://namecard.svc.ath.cx
