<p>
  <label for="shopitem_num_val_1"><%= h _('shop_item_fee') %></label>
  <%= text_field :shopitem, :num_val_1, :size => '10' %>
  <label for="shopitem_str_val_3"><%= h _('shop_item_fee_remark') %></label>
  <%= text_field :shopitem, :str_val_3 %>
</p>
