<p>
  <label for="shopitem_num_val_2"><%= h _('shop_item_capacity') %></label>
  <%= text_field :shopitem, :num_val_2, :size => '10' %>
  <label for="shopitem_str_val_4"><%= h _('shop_item_capacity_remark') %></label>
  <%= text_field :shopitem, :str_val_4 %>
</p>
