<div class='spotlist'>
  <%= render :partial => 'showshopitem', :locals => {:listitem => @shopitem, :size => '10'} %>
</div>

<p><%= link_to _('add_review'), :controller => 'reviews', :action => 'new', :shopitem_id => @shopitem.id %></p>