<table align="center">
  <tr>
    <td><label for="user_email_pc"><%= h _('user email_pc') %></label></td>
    <td><%= text_field('user', 'email_pc', :size => 20 ) %></td>
  </tr>
  <tr>
    <td><label for="user_email_cell"><%= h _('user email_cell') %></label></td>
    <td><%= text_field('user', 'email_cell', :size => 20 ) %></td>
  </tr>
</table>
<%=h _('warning: please input both password field anytime') %><br/>