<h1><%= h _('edit user') %></h1>
<hr />
<% form_tag(:action => 'update_user', :id => @user) do %>
  <%= render :partial => 'form_user' %>
  <%= submit_tag _('update') %>
<% end %>

<%= link_to( _('back'), :action => 'list_user', :id => @user.group) %>
