<h1>New review</h1>

<% form_tag({:action => 'create', :id => @review.id}, :multipart => true) do %>

  <%= render :partial => 'form' %>

  <%= submit_tag %>

<% end %>

<%= link_to 'Show', :action => 'show', :id => @student %> |
<%= link_to 'Back', :action => 'index' %>
